/* Doubleclick */
.color-box {
  width: 150px;
  height: 150px;
  background-color: lightgray;
  text-align: center;
  line-height: 150px;
  cursor: pointer;
}


/* keydown-keyup  */
.key-box {
    width: 200px;
    height: 100px;
    background-color: lightgray;
    text-align: center;
    line-height: 100px;
}

