* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
}

.container {
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
  font-size: 2rem;
  color: #000;
}

.container .screen-size {
  font-size: 1rem;
  color: #000;
}

/* For screens 1441px and above (Large Desktop) */
@media (min-width: 1441px) {
  body {
    background-color: #7bece3; /* Light teal */
  }

  .container h1 {
    font-size: 3rem; /* Larger font for large screens */
  }

  .container .screen-size::before {
    /* content: "Screen size: Large Desktop (1441px+)"; */
    font-size: 2rem;
  }
}

/* For screens 1025px to 1440px (Desktop) */
@media (min-width: 1025px) and (max-width: 1440px) {
  body {
    background-color: #008000; /* Green */
  }

  .container h1 {
    font-size: 2.5rem;
  }

  .container .screen-size::before {
    content: "Screen size: 1440px";
    font-size: 1.8rem;
  }
}

/* For screens 769px to 1024px (Tablet) */
@media (min-width: 769px) and (max-width: 1024px) {
  body {
    background-color: #ac8011; /* Medium brown */
  }

  .container h1 {
    font-size: 2.2rem;
  }

  .container .screen-size::before {
    content: "Screen size: 1024px";
    font-size: 1.5rem;
  }
}

/* For screens 426px to 768px (Mobile) */
@media (min-width: 426px) and (max-width: 768px) {
  body {
    background-color: #7fffd4; /* Aquamarine */
  }

  .container h1 {
    font-size: 2rem;
  }

  .container .screen-size::before {
    content: "Screen size: 768px";
    font-size: 1.2rem;
  }
}

/* For screens 425px and below (Small Mobile) */
@media (max-width: 425px) {
  body {
    background-color: #ec3554; /* Red */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container h1 {
    font-size: 1.8rem;
  }

  .container .screen-size::before {
    content: "Screen size: 425px";
    font-size: 1rem;
  }
}
